.welcomeContainer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  .welcomeTitle {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .welcomeDescription {
    font-size: 2.2em;
    color: #555;
    margin-bottom: 30px;
  }
  
  .linkList {
    list-style-type: none;
    padding: 0;
  }
  
  .linkItem {
    margin: 10px 0;
  }
  
  .link {
    text-decoration: none;
    color: #0070f3;
    font-size: 1.2em;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .buttonContainer {
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: #3b8ee6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: lightblue;
  }
  
  .assignmentLink {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #3b8ee6;
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s; 
    font-weight: bold; 
  }
  
  .assignmentLink:hover, .assignmentLink:focus {
    background-color: #2a6db3; 
    transform: translateY(-2px);
    color: #ffffff;
    text-decoration: none;
  }
  
  .assignmentLink:active {
    transform: translateY(1px);
  }

  /* .coursesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  } */

  .coursesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    padding: 20px;
  }
  
  .courseCard {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    display: block; /* Make sure the link takes up the whole card */
    color: inherit; /* Prevent default link color */
    text-decoration: none; /* Prevent default link text decoration */
    transition: transform 0.2s; /* Optional: adds animation */
  }
  
  .courseCard:hover {
    transform: scale(1.05); /* Optional: scale cards on hover */
    border-color: #3b8ee6; /* Optional: change border color on hover */
  }

  .paragraph {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
  }
  
  .listItem {
    font-size: 1.1em;
    color: #444;
  }

  .mainContent {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }